/*-------------------------------------------------
SMACSS: BASE
-------------------------------------------------*/
body {
  	font-family: Ubuntu, sans-serif;
    font-size: 16px;
    background: #fff;
    color: #2f3236;
    zoom: 90%;
    transition: .5s;
}

a {
    color: $color-gray;
    &:hover {
      color: #ced9e0;
    }
}


h2 {
	font-family: UbuntuBold;
	font-size: 30px;
	margin-bottom: 20px;
}

@font-face {
	font-family: Ubuntu;
	src: url(../fonts/Ubuntu/Ubuntu-Regular.ttf)
}

@font-face {
	font-family: UbuntuBold;
	src: url(../fonts/Ubuntu/Ubuntu-Bold.ttf)
}

@font-face {
	font-family: UbuntuItalic;
	src: url(../fonts/Ubuntu/Ubuntu-Italic.ttf)
}
