.slider-middle {
  width: 100%;
  padding: 92px 0 92px;
  background: $color-white;

  .container {
    @include container;

    .slider-middle-h2, .quote {
      width: 50%;
      float: left;
    }

    .respons {
      margin-top: 20px;
      line-height: 22px;
      margin-bottom: 20px;
      color: #333;
    }

    .quote {
      width: 50%;
      text-align: right;
      line-height: 24px;
      margin-bottom: 20px;
    }

    .quote p {
      display: inline-block;
      text-align: right;
      quotes: " \201c" "\201c" "‘" "’";
      position: relative;
      padding-right: 15px;

      &:before {
        content: open-quote;
        font-size: 26px;
        color: #acacad;
      }

      &:after {
        content: close-quote;
        font-size: 26px;
        color: #acacad;
        position: absolute;
        bottom: -50%;
        right: 0;
      }
    }

    .slider-middle-owl {
      padding-top: 20px;
    }

    .mc-item-name {
      overflow: hidden;

      img {
        width: 60px!important;
        height: 60px !important;
        float: left;
        border-radius: 50%;
      }

      div {
        float: left;
        margin-left: 15px;
      }

      p {
        margin: 0;
        margin-top: 5px;
      }
    }

    .middle-carousel-item, .mc-item-name {
      p:last-child {
        font-size: 14px;
        color: #cfbcc8;
      }
    }

    .middle-carousel-item {
      padding: 15px;
      border: 1px solid #e4e3ed;
      height: auto;
      border-radius: 10px;
    }
  }
}
