.headings {
  width: 100%;
  padding: 148px 0 48px;

  .container {
    @include container;
    display: flex;
    justify-content: space-between;

    .headings-left {
      width: 41%;
      margin-top: -50px;

      .headings-h2 {
        width: 100%;
        font-size: 28px;
        line-height: 34px;
      }

      p {
        margin-bottom: 10px;
        line-height: 24px;
      }
    }

    .headings-right {
      width: 47%;
      height: 200px;
      background-color: #ebf2f7;
      position: relative;
      padding-left: 44px;
      padding-top: 22px;
      border-radius: 7px;

      .name {
        margin-top: 25px;
        line-height: 24px;
      }

      .img-man {
        position: absolute;
        margin-top: -30px;
        top: -16px;
        left: -40px;
        border-radius: 50%;
        border: 3px solid white;
        height: 80px;
        width: 80px;
      }

      .img-sign {
        position: absolute;
        left: 53%;
        width: 95px;
        bottom: 25%;
      }

      .italic {
        font-family: UbuntuItalic;
        line-height: 24px;
      }

      .h-position {
        font-size: 14px;
        color: #9fa4a8;
        display: block;
      }
    }

  }
}
